name: Generate RSS feed

on:
  schedule:
    # Pon–pt, co 15 min 06:00–10:00 czasu PL
    # Obecnie: PL = UTC+1, więc 05:00–09:00 UTC
    - cron: '*/15 5-8 * * 1-5'  # 06:00–09:45 PL (zimą)
    - cron: '0 9 * * 1-5'       # 10:00 PL (zimą)

    # Poniedziałek 19:00–22:45 PL co 15 min (czyli 18:00–21:45 UTC zimą)
    - cron: '*/15 18-21 * * 1'
    - cron: '0 22 * * 1'   # 23:00 PL (zimą)

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install feedparser==6.0.11

      - name: Generate feed.xml
        run: python feed_generator.py

      - name: Commit and push feed.xml
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add feed.xml
          git commit -m "Update feed.xml" || echo "No changes to commit"
          git push
